header img {
    height: 80px;
    margin-left: 40px;
}
/* body {
    height: 125vh;
    background-image: url('https://imageio.forbes.com/specials-images/imageserve/61003fd478486dcc05c13220/Mature-woman-with-beach-hat-and-sunglasses/960x0.jpg?format=jpg&width=960');
    background-size: cover;
    font-family: Open sans;
    margin-top: 80px;
    padding: 30px;
} */

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}
.header {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
  }
  .header-image {
    background-image: url(“https://printify.com/wp-content/uploads/2021/08/20-Print-on-Demand-travel-accessories-for-your-online-store-1.jpg”);
    }