header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 100vh;
    background-image: url('assets/bg.png');
    background-size: cover;
    font-family: Open sans;
    margin-top: 80px;
    padding: 30px;
} 

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 rgb(44, 124, 15);
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: rgb(112, 0, 68);
    text-decoration: none;
}
.header {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
  }
.header-image {
    background-image: url('assets/bg.png');
    }
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(44, 124, 15);
    color: rgb(147, 42, 42);
    text-align: center;
}
.fcc-btn {
    background-color: #784200;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    
  }
  .fcc-btnn {
    background-color: #784200;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    position: absolute;
    left: 1000px;
    top: 350px;
  }
  .h3{
    position:fixed;
    left: 1000px;
    top: 375px;
  }
